@import url('https://fonts.googleapis.com/css?family=Assistant:400,700&subset=hebrew');
/********************/
/* CUSTOM STYLE CSS */
/********************/
/* 
Put your custom css and css overrides in this file. By restricting your css changes to 
custom-style.css, your changes will not be overwritten when upgrading to a new version of this theme.

Steps to customize your theme:
1. Add your custom css to this file;
2. Uncomment different examples below and modify data as you wish;
3. Clear cached data at admin/settings/performance or, if you use Administration Menu module, "Flush all caches".
	 You can also check "Rebuild theme registry on every page" at /admin/appearance/settings/zeropoint during development;
4. Don't forget to save a copy of this file with a different name to avoid loosing it after a theme update.
*/

@import url('https://fonts.googleapis.com/css?family=Assistant');
@import url(//fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanshebrew.css);
/* Erase or comment the lines below to get rid of the image in the right sidebar and the brand image at the bottom */
#middlecontainer {
	/* *background: transparent url(../images/all/_sidebarimg.png) 99% 99% no-repeat; **/
}
#brand {
	
	margin: 0 auto;
	height: 50px;
}

.himg #headimg{
	border:none;
}

/***********************/
/* CHANGE DEFAULT FONT */
/***********************/
/*
html, .pure-g [class*="pure-u"] {
	font-family: Verdana, Helvetica;
}*/

/*************************/
/* USER BLOCKS ALIGNMENT */
/*************************/
/*
#section1 .block {
	min-height: 250px;
}*/

/***********************/
/* CHANGE HEADER IMAGE */
/***********************/
/* Deactivate the image rotator in theme's settings, put your new image in the _custom folder and uncomment the lines below */
/* */
.himg #headimg, #headimg {
	background: #fff  no-repeat 100% 100%;
}

body{
	background: #eee;
}

body.i18n-he #block-locale-language ul li{
    float: right;
    list-style-type: none;
    margin-left: 0.5rem;
}
#body_left, #body_right, #top_left, #top_right{
	background: none;
}
#top_right, #body_right{
	padding: 0
}
/*
*\.not-logged-in #top-elements{*\
*\	display: none;*\
}
*/
.logoimg {
    
    padding: 4px 20px 5px 20px;
}
#header .region-header .block-wrapper{    
	max-width: 20em;
    margin: 0 auto;
}

/**************************************************************/
/** Login with Google - START**/
/**************************************************************/
#edit-openid-connect-client-google-login  {
	background-color: #4C8EFB;
	color: white;	
	font-weight: 600;
	font-size: 1.2em;
}
/** Login with Google - END**/
/**************************************************************/

/**************************************************************/
/** EVENT REGISTRATION FORM - START**/
/**************************************************************/
.page-civicrm-event-register .ui-icon.ui-icon-print{
	display: none
}
.page-civicrm-event-register #middlecontainer #main .title{
	display: inline;
}
#header .form-item label, #header .item-list .title {
    color: #777;
}
.crm-container .crm-section .label{
	text-align: left;
}
.i18n-he .crm-container .crm-section .label{
	text-align: right;
}

.lg-he .crm-container .crm-section .label{
	float: right;
}

.not-logged-in .breadcrumb{ 
	display: none;
}

.page-user-register .tabs, .page-user-register .description{
	display: none;
}

.not-admin ul.links.inline{
	
}

.crm-container .crm-other-contact-row.messages.status {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #FFFFFF;

/*	display: none;  */
}

/** EVENT REGISTRATION FORM - END**/
/**************************************************************/

/************????????????????????????????????????????????????***************/
custom-style.css?oxjnup:3923

/**************************************************************/
/** Classes for Drupal - START**/
/**************************************************************/

.bb-icon{
	text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 8px;
}
.bb-button1{
	background-color: grey; /* Green */
	border: 2px solid grey;
	color: #fff !important;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    width: 100px;
    border-radius: 3px;
    text-decoration: none !important;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.bb-button1:hover{
	background-color: white; 
    color: #777 !important; 
}

.bb-button{
	background-color: grey; /* Green */
	border: 2px solid grey;
	color: #fff !important;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    width: 50px;
    border-radius: 3px;
    text-decoration: none !important;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.bb-button:hover{
	background-color: white; 
    color: #777 !important; 
}
.green{
	background-color: #4CAF50; /* Green */
	border: 2px solid #4CAF50;
}
.green:hover {
    background-color: white; 
    color: #4CAF50 !important; 
}
.orange{
	background-color: #FBBC05; /* Green */
	border: 2px solid #FBBC05;
}
.orange:hover {
    background-color: white; 
    color: #FBBC05 !important; 
}

.bb-date
{
	direction:ltr;
	margin-bottom: 10px;
}
.bb-hide{
	display:none !important
}
.bb-right-column{
	display: inline-block;
	width: 43%;
	margin-left: 20px
}
.bb-left-column{
	display: inline-block;
	width: 44%
}
.bb-inline{
	display: inline-block;
	width: 10%;
	margin-left: 20px
}
.bb-date-time.webform-component--8----- , .webform-component--8--civicrm-1-activity-1-cg98-custom-405, .webform-component--8--civicrm-1-activity-1-cg99-custom-406{
	margin-top: 30px
}
.bb-date-time.webform-component--8----- legend{
	font-weight: bold;

}

.bb-section{
	margin-top: 10px;
	font-size: 16px;
}

.bb-section {
    margin-top: 20px;
    font-size: 18px;
    background-color: #f4f7f8;
    padding: 2px;
	color: blac
}
.bb-btn{
    font-size: 24px !important;
    background-color: #5cb85c;	
	border: 2px solid #4cae4c;
	color: #fff !important;
    padding: 15px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 700; 
    border-radius: 3px;
    text-decoration: none !important;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.bb-history{
	background-color: #0095dd !important;
	border-color: #0095dd !important;
}


/** Classes for Drupal - END**/
/**************************************************************/

/**************************************************************/
/** Table rows color  - START**/
/**************************************************************/
tr.even{
	background-color: white !important;
	border: none
}
tr.odd{
	background-color: #f7f7f7 !important;
	border: none
}
/**************************************************************/
/** Table rows color  - END**/
/**************************************************************/

/**************************************************************/
/** LANGUAGES - START**/
/**************************************************************/
body.lg-he #top-elements {
    text-align: right;
	display: inline-flex;
    max-width: 100%;

}
body.lg-en #top-elements {
    text-align: left;
	display: inline-flex;
    max-width: 100%;

}
body.lg-es #top-elements {
    text-align: left;
	display: inline-flex;  
  max-width: 100%;

}
body.lg-ru #top-elements {
    text-align: left;
	display: inline-flex;
    max-width:100%;

}
/**************************************************************/
/** LANGUAGES - END**/
/**************************************************************/

/**************************************************************/
/** VIEWS - START**/
/**************************************************************/

#views-exposed-form-activities-page .views-exposed-widgets{display: none}

.view-id-activities .views-table caption{
	text-align: right; 
	font-size: 24px;
	margin-bottom: 30px;
}

.page-index1  #edit-combine{
	width: 300px;
}
.page-index1 .views-exposed-widget .form-submit{
	margin-top: 19px;
    height: 30px;
}
.page-index1 #edit-combine-wrapper{
	padding: 0	
}

/**************************************************************/
/** VIEWS - END**/
/**************************************************************/



/*******************???????????????????????????????????????????????????????????????????????***********************/



.page-nazig .views-table span, .page-client-2  .views-table span{
	white-space: nowrap;
	font-size: 18px
}



body.page-nazig .view-header h1{ 
display: none
 }

body.page-nazig- .view-header h1{ 
display: block 
}

.webform-component--8--civicrm-1-activity-1-activity-status-id{
	width: auto;
	text-align: right;
	background: #ccc !important;
	border: none !important
}

.webform-component-fieldset .fieldset-title, .fieldset-legend{
	font-weight: 700;
	color: #333;
	font-size: 16px;
}
a.fieldset-title{
	text-decoration: underline
}
div.ctools-modal-content .modal-title{
	font-size: 180%;
}
form li.token-input-token{
	margin: 5px 0 40px 0
}
form li.token-input-token p{
	float: right
}

form .webform-component.static li.token-input-token {
    background-color: #F2F2F2;
    font-family: SANS-SERIF;
    font-size: 18px;
}
 form ul.token-input-list{
	 overflow: hidden;
    height: auto !important;
    height: 1%;
    width: 400px;
    border: 2px solid #999;
    cursor: text;
    font-size: 12px;
    font-family: Verdana;
    margin: 2 !important;
    padding: 0;
    background-color: #eaf1f1;
    list-style-type: none;
    clear: left;
}

body.lg-he .bb-date label{
	direction:rtl;
	float: right
}
.form-actions .pure-button {
    font-size: 20px;
    padding: 10px 40px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
	
}

.pure-form legend {
    padding: .3em 0 0.6em 0;

}
.webform-client-form-204 .webform-component--8--civicrm-1-activity-1-activity-status-id,.webform-client-form-214  .webform-component-----civicrm-1-activity-1-activity-status-id{
    text-align: right;
    background: #f4f7f8 !important;
    border: none !important;
    width: 96%;
    border-bottom: 2px solid #558abb !important;
}


.webform-component---661---5 .form-item, .webform-component---661---99  .form-item, .webform-client-form-218 .form-item,  .webform-client-form-214 .form-item {
	margin-bottom: 15px
}
.webform-component---661---5 label, .bb-date label, .webform-client-form-218 .webform-component---1 label,  .webform-client-form-214
.webform-component-----civicrm-1-activity-1-activity-activity-type-id  label{
	width: 10em !important;
	display: inline-block
}


#menu2{
	display: none
}

body.page-client- .view-header{
	position: fixed;
    top: 120px;
    left: 55px;
}
body.page-client- .view-header .bb-button{
	font-size: 22px;
	width: auto;
	padding: 10px 20px;
}
body.page-client- #main{
	margin-top: 40px
}

#webform-client-form-214 legend{
	padding-top: 20px;
}


input.crm-form-submit{
	background-color: grey; /* Green */
	border: 2px solid grey;
	color: #fff !important;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    width: 100px;
    border-radius: 3px;
    text-decoration: none !important;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.attachment.attachment-after h2{
	margin: 30px 0 10px 0;
	border-bottom: 3px solid #12567f;
	color: #12567f;
}

.view-display-id-page  th, .view-display-id-page   td {
    border: 1px solid #ccc;
}


body.lg-he .ui-tabs .ui-tabs-nav li{
	float: right;
	font-size: 18px;
}

.pure-menu-link{
	font-family: Arial, sans-serif;
	
}

.pure-form .email{
	padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#breadcrumb{
	margin: 10px 0
}
.mr .pure-menu-horizontal{
    text-align: -webkit-auto !important;
}
.pure-menu-link{
	font-size: 16px;
}


#topreg{
	padding: 10px 0;
}

#topreg .region-topreg{
	display: flex;
}


#user_links{
    padding: 10px 0;
    display: inline;
    position: absolute;
    left: 40px;
	
}
#block-locale-language{
	margin: 0 1em !important;
}
.language-switcher-locale-url {
    padding: 10px 0;
    display: inline;

}
table.views-table {
    empty-cells: hide;
}

#wf-crm-billing-items caption{
	display: none
}

#cboxClose{
	bottom: auto;
	right: auto;
	top: 0;
	left: 0;
}

/**************************************????????????????????????????????????????***/


.i18n-he .form-item-status-volunteer-259 .form-type-bef-checkbox{
	margin-left: 15px;
	margin-right: 0;
}
.i18n-he .form-item-status-volunteer-259 .bef-checkboxes{
    display: flex;
    margin-top: 10px;
}
.i18n-he .form-item-status-volunteer-259 .bef-checkboxes label{
	font-weight: normal
}

.i18n-he .form-item-status-volunteer-259 .bef-checkboxes input{
	vertical-align: middle
}
.view-id-78 .view-content{
	margin-top: 30px
} 

.view-id-78 .view-content{
	margin-top: 30px
} 


#edit-secondary-wrapper {
	display: inline-flex;
    position: relative;
    width: 100%;
    right: 0;
}

#edit-secondary-wrapper .bef-secondary-options fieldset legend, #edit-secondary-wrapper legend{
	border-bottom: 0;
	
}
#edit-secondary-wrapper .bef-secondary-options .fieldset-title{
	font-weight: normal;
	font-size: 16px;
	text-decoration: none;
}
#edit-secondary-wrapper .bef-secondary-options .form-item{

}

.chosen-container-multi .chosen-choices{
	padding: 6px 10px !important;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#edit-secondary-wrapper a.fieldset-title{
	text-decoration: none;
	font-family: inherit;
    font-size: 14px;
    padding: 0;
    color: #444;
    color: rgba(0,0,0,.8); 
    border: 1px solid #999;
    border: 0 rgba(0,0,0,0);
    background-color: transparent;
    text-decoration: none;
    border-radius: 2px;
	width: 100%;

}

#edit-secondary-wrapper fieldset .fieldset-legend{
	padding-right: 15px; 
}

.i18n-he #edit-secondary-wrapper fieldset .fieldset-legend{
	margin-top: 20px;
}

.i18n-he #edit-secondary-wrapper .views-submit-button{
	position: absolute;
	left: 34%;
} 

.pure-menu-has-children > a{
	pointer-events: none
}

.i18n-he .chosen-container-multi .chosen-choices li{
	float: right !important
}

.i18n-he .chosen-container .chosen-drop{
	left: 0;
	right: -9999px;
}

.i18n-he .chosen-container.chosen-with-drop .chosen-drop{
	right: 0
}
.bb-fieldset {
	height: auto !important
}
.bb-fieldset legend{
    border-bottom: 0;
    margin-top: 14px;
    display: initial;
   

}
.bb-fieldset legend .fieldset-legend{
	background-color: #3377aa !important;
	font-size: 18px;
	padding: 6px 0;
}


.bb-fieldset legend a.fieldset-title {
    text-decoration: none;
	font-weight: 500;
	font-size: 20px;	
        color: #fff;
}

.bb-component-static 
     background-color: #4cae4c !important;
     font-size: 23px;
}


label[for=edit-submitted-civicrm-2-contact-1-relationship-custom-273]{
	margin: 20px 0 0 10px;
	font-size: 18px;
}
form li.token-input-token{
	padding: 10px 5px;
}

.page-linked_roles .views-exposed-form, .view-roles-linked .views-exposed-form, .view-id-c_ .views-exposed-form{
	display: none;
}

.page-linked_roles .views-table caption, .view-roles-linked .views-table caption, .view-id-c_ .views-table caption{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 15px
}

.i18n-he.page-linked_roles .views-table caption, .i18n-he .view-roles-linked  .views-table caption, .i18n-he  .view-id-c_  .views-table caption {
	text-align: right
}
.page-linked_roles .views-field a, .view-roles-linked  .views-field a{
	margin: 0 auto;
	display: block;
}

.page-linked_roles .view-footer, .view-roles-linked  .view-footer{
	margin-top: 15px;
}

.page-linked_roles .view-footer a, .view-roles-linked  .view-footer a, .view-id-c_ .view-footer a, .page-linked_volunteers .view-footer a{
	margin-top: 10px;
	padding: 10px 16px;
}
.view-id-clone_18_of_ .views-exposed-form{
	margin-bottom: 30px;
}


.i18n-he .view-id-clone_18_of_ .form-type-bef-checkbox{
	margin-left: 15px;
	margin-right: 0;
}
.i18n-he .view-id-clone_18_of_ .bef-checkboxes{
    display: flex;
    margin-top: 10px;
}
.i18n-he .view-id-clone_18_of_ .bef-checkboxes label{
	font-weight: normal
}

.i18n-he .view-id-clone_18_of_ .bef-checkboxes input{
	vertical-align: middle
}

.i18n-he.page-role .view-header a{
	float: left;
	padding: 10px 16px;
}

.lg-he .pure-menu-children{
	right: 100%;
	left: auto !important;
}

.lg-he .pure-menu-horizontal .pure-menu-children {
	right: 2px !important;
	left: auto !important;
}


.lg-he .pure-menu-children .pure-menu-children {
    left: auto;
    right: 100% !important;
}


.bb-radio-vertical .form-radios{
	display: flex;
	margin-bottom: 25px;
}


/**************************************************************/
/** Priceset - START**/
/**************************************************************/
#priceset{
	border: none;
	font-family: Assistant, sans-serif;
}
#priceset legend{
	display: none;
	
}
#priceset .label{
	float: none !important;
	padding: 5px 0 10px;
	margin: 0;	
	text-align: left !important;
}
.lg-he #priceset .label{
	text-align: right !important;
}
#priceset .label label{
	float: none;
	display: inline;
	font-size: 18px;
	padding: 5px 0 15px;
	margin: 0;	
	font-weight: normal;
	text-align: left !important;
}
.lg-he #priceset .label label{ 
	text-align: right;
}
#priceset .content{
	margin-left: auto !important;
}
#priceset input{
	margin-left: 5px;
}
#priceset #pricesetTotal{
	display: flex;
	margin: 10px 0;
}
#priceset #pricesetTotal .label{
	display: inline-block
}
#priceset #pricesetTotal .label label{
	font-size: 18px;
	font-weight: 500;
	margin: 0;

}
#priceset #pricevalue{
	display: inline-block;
	margin: 0 15px !important;
}
.lg-he #priceset #pricevalue b{
	float: left
}
/**************************************************************/
/** Priceset - END**/
/**************************************************************/

/**************************************************************/
/** CIVI ACTION BUTTONS - START**/
/**************************************************************/

#crm-submit-buttons{
	display: flex;
	margin: 0;
	padding: 0;
	height: auto !important;
}
#crm-submit-buttons .crm-button{
	background: transparent;
	background-image: none;
	border: 0;
	margin: 10px 0;
	padding: 5px;
	float: none !important;
	display: inline-block;
}
#crm-submit-buttons .crm-form-submit	{
    background: #0BA03E;
    border: 0;
    padding: 0.6rem 1.8rem;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    font-size: 1.82em;
    text-shadow: none;
    width: auto;
}
#crm-submit-buttons .crm-button-icon{
	display: none
}
/**************************************************************/
/** CIVI ACTION BUTTONS - END**/
/**************************************************************/

/**************************************************************/
/** CIVICRM GENERAL REGISTRATION - START**/
/**************************************************************/

fieldset.crm-profile {
	border-top: 0;
		font-family: Assistant, sans-serif;
}
fieldset.crm-profile   legend{
	font-family: Assistant, sans-serif;
	display: none;
	font-size: 24px;
	padding: 5px 0 15px;
	margin: 0;	
}
fieldset.crm-profile .label{
	float: none !important;
	display: block;
	text-align: left;

}
.lg-he fieldset.crm-profile .label{
	display: block;
	text-align: right;

}
fieldset.crm-profile .label label {
    padding-bottom: 10px;
    display: inline-block;
}

/**************************************************************/
/** CIVICRM GENERAL REGISTRATION - END**/
/**************************************************************/

/*
.f6cedee820475456af33058f17889b3-section{
	display: none
}
*/


/* checkbox */
.price-set-option-content label {	
  position: relative;
  margin: .5rem 0;
  font-family: Arial, sans-serif;
  line-height: 135%;
  cursor: pointer;
}

.price-set-option-content input{
  position: relative;
  top: -0.375rem;
  margin: 0 1rem 0 0;
  cursor: pointer;
}

.lg-he .price-set-option-content label {
	margin-left: 10px
}
.price-set-option-content input:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 1rem;
  height: 1rem;
  border: 2px solid #aaa;
}
.price-set-option-content input:checked:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: .5rem;
  border-color: #009688;
  border-top-style: none;
  border-right-style: none;
}
.price-set-option-content input:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 1.1rem;
  height: 1.1rem;
  background: #fff;
  cursor: pointer;
}

/**checkbox end**/

#priceset .content{display: unset; position: relative;}
#priceset .content{
	position: relative;
}
#priceset    .description{
	position: absolute;
    top: 76px;

    font-size: 12px;
}
.lg-he .crm-form-select option{direction: rtl !important; text-align: right !important;}

#noOfparticipants .content{ visibility: hidden}
#noOfparticipants select{
	visibility: visible;
	width: 70px !important;
}
#priceset #pricevalue{
	font-size: 150%
}

#editrow-custom_365 .label,
#editrow-custom_559 .label
{
	display: inline-block;
	width: 70%
}
#editrow-custom_365 .content,
#editrow-custom_559 .content{
	float: left;
	padding-top: 8px !important;
}
.lg-he #editrow-custom_365 .content,
.lg-he #editrow-custom_559 .content{
	float: right;
    margin-left: 15px !important;
    margin-right: -10px;
}
#editrow-custom_365 .content label,
#editrow-custom_559 .content label{
	display: none
}
/* takanon */
#editrow-custom_365 input,
#editrow_do_not_mail input{
  position: relative;
  top: -0.375rem;
  margin: 0 1rem 0 0;
  cursor: pointer;
}
#editrow-custom_365 input:before,
#editrow-custom_559 input:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 1rem;
  height: 1rem;
  border: 2px solid #aaa;
}
#editrow-custom_365 input:checked:before, 
#editrow-custom_559 input:checked:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: .5rem;
  border-color: #009688;
  border-top-style: none;
  border-right-style: none;
}
 #editrow-custom_365 input:after,
 #editrow-custom_559 input:after{
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 1.1rem;
  height: 1.1rem;
  background: #fff;
  cursor: pointer;
}

/**takanon end**/

.crm-container .crm-section .label{
	width: auto;
}

.lg-ru #editrow-custom_441 #CIVICRM_QFID_2_4{display: none}

.lg-ru #editrow-custom_441 input[type='radio'] + label{
	font-size: 13px;
	
}

.crm-profile-id-120 .messages.help p a{
	margin-left: 30px;
	
}
.lg-he .crm-profile-id-120 .messages.help p a{
	margin-left: 0;
	margin-right: 34px;
}

.lg-he .crm-container .crm-marker{
	margin-left: 5px;
	margin-right: 0;
	
}

/** CIVI EVENT REGISTRATION PAGES
**/
#pid-civicrm-event-register, #pid-civicrm-event-register #body_bg{
	background: none repeat scroll 0 0 #dbdbdb;	
}

#pid-civicrm-event-register #middlecontainer{
		margin: 0 auto;
}

#pid-civicrm-event-register #middlecontainer:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
#pid-civicrm-event-register #middlecontainer #main{
	background: none repeat scroll 0 0 white !important;
	max-width: 640px;
	float: left;
}	
.lg-he#pid-civicrm-event-register #middlecontainer #main {
	float: right;
	box-shadow: 0px 6px 20px rgba(0,0,0,0.10);
}	
#pid-civicrm-event-register #main .crm-container form{
	padding: 20px 40px;
}

.crm-public-footer{display:none}

#pid-civicrm-event-register #main h1.title{
	font-size: 171%;
    padding: 20px 40px;
    display: block !important;
    background-color: #eeeeee !important;
    color: #3377aa !important;
    text-align: center;
    border-bottom: 2px solid #3377aa;
}
 
.views-exposed-widgets {
    border: 3px groove;
    padding: 10px;
    background-color: rgba(70, 130, 180, 0.16);    padding: 10px;

}


.profile .user-picture {
    float: initial;
}
.views-exposed-form label {
      padding: 2px 15px;
}

#pid-civicrm-event-register #crm-submit-buttons .crm-form-submit	{
    background: #00457b;
    transition: all 200ms ease;
    font-family: Assistant, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-decoration: none;	
}

#pid-civicrm-event-register #crm-submit-buttons .crm-form-submit:hover{
	    background-color: #0088cc;
}

/**REGISTRATION MOBILE**/

@media only screen and (max-device-width: 550px){
	#pid-civicrm-event-register, #pid-civicrm-event-register #body_bg{
		overflow-x: hidden;
		padding: 0;
		margin: 0;
	}
	
	#pid-civicrm-event-register #middlecontainer #main{
		width: 100%;
		float: none;
	}
	
	#pid-civicrm-event-register #main .crm-container form{
		padding: 15px;
	}
	.crm-profile-id-143{
		margin-bottom: 20px !important;
	}
	#editrow-custom_441 input[type='radio'] + label{
		display: block;
		margin-bottom: 5px !important;
		width: 200px;
	}

	#priceset .content{
		display: unset;
	}
	#priceset .content .price-set-row{
		margin-bottom: 30px;
	}
	#priceset #pricesetTotal .label label{
		font-size: 16px;
	}
	#priceset .description {
		position: absolute;
		top: 206px;
		font-size: 14px;
	}
	.crm-event-id-88 label, .crm-profile-id-90 label, .crm-profile-id-143 label {
		font-size: 18px;
		margin-right: 15px;
	}
	.lg-he .crm-event-id-88 label, .lg-he .crm-profile-id-90 label, .lg-he .crm-profile-id-143 label {
		font-size: 18px;
		margin-right: 0;
		margin-left: 15px;
	}	
}


#block-locale-language li{list-style: none; display: inline-block; margin: 0 5px;}


label[for=custom_443_1]{
	font-size: 14px;
	line-height: 23px;
	font-family: 'Noto Sans Hebrew', sans-serif;
	font-family: 'Open Sans Hebrew', Arial, sans-serif;
}
#intro_text{
	margin-bottom: 20px !important;
}
.intro_text-section h2, .intro_text-section h3.block-title, .intro_text-section .block-title {
    font-size: 1.5em;
    font-weight: normal;
}


#priceset #discountcode{
	position: static !important;
}


/**CIVICRM - edit contact screen **/

.lg-he #crm-container div.crm-summary-row div.crm-content {
    margin-right: 130px;
}

.lg-he #crm-container div.crm-summary-row div.crm-label {
    text-align: right;
    float: right;
}



.crm-content{
	font-size: 14px;
	font-family: Arial, sans-serif;
}
.crm-label{
	font-size: 14px;
	font-family: Arial, sans-serif;
	color: #2E7DBB !important;
	font-weight: 500
}

#crm-container div.crm-summary-row div.crm-label, .crm-container div.crm-clear{
	background-color: transparent;
}

.crm-inline-edit{
	border: none !important;
	border-radius: 1px;
    margin-bottom: 10px;
    background-color: white !important;
	line-height: 1.4em;
}

#contact-summary{
	background-color: #ffffff;
	margin: 0;
	padding: 0;
}

fieldset.crm-profile-id-147  legend, fieldset.crm-profile-id-147  legend{display: none} 

.page-civicrm-contact #mainTabContainer{
	display: flex;
	background: white;
}

.page-civicrm-contact #mainTabContainer .ui-tabs-nav{
	width: 16%;
}
.page-civicrm-contact #mainTabContainer  .ui-tabs-panel{
	width: 90%;
	padding: 0.5em 1em;
}
.page-civicrm-contact #mainTabContainer .ui-widget-header{
	background: none !important;
	border: none !important;
	border-radius: 0 !important;
	padding: 0;
}
.page-civicrm-contact #mainTabContainer .ui-tabs-nav li{
    float: none;
    display: inline-block;
    width: 100%;
    background: white !important;
    border: none;
	border-radius: 0 !important;
	margin: 0;
	border: none !important;
	border-bottom: 1px solid #008bdb !important;
	top: 0 !important;
}
.page-civicrm-contact #mainTabContainer .ui-tabs-nav a.ui-tabs-anchor{
	float: none;
	display: inline-block;
	width: 84%;
	border-radius: 0 !important;
    padding: .5em 1em !important;
}

.lg-he.page-civicrm-contact #mainTabContainer .ui-widget-header{
	border-left: 6px solid #008bdb !important;
}
.page-civicrm-contact #mainTabContainer  .ui-tabs-nav li.ui-tabs-active{
	background: #008bdb !important;
	border-bottom: 1px solid transparent !important;
}
.page-civicrm-contact #mainTabContainer  .ui-tabs-nav li.ui-tabs-active a.ui-tabs-anchor,.page-civicrm-contact #mainTabContainer  .ui-tabs-nav li.ui-tabs-active a.ui-tabs-anchor em{
		color: white !important;
}
.page-civicrm-contact #mainTabContainer  .ui-tabs-nav li:hover{
	background: #008bdb !important;
}
.page-civicrm-contact #mainTabContainer  .ui-tabs-nav li:hover a.ui-tabs-anchor, .page-civicrm-contact #mainTabContainer  .ui-tabs-nav li:hover a.ui-tabs-anchor em{
	color: white !important;
}
#crm-container div.crm-summary-display_name{
	font-size: 30px;
	padding: 0.5em;
}
#crm-contactname-content{
	background-color: #efefef !important;
}

.page-civicrm-contact #mainTabContainer .ui-tabs-nav li#tab_discounts{
	display: none
}

.page-civicrm-contact #mainTabContainer div.contactCardLeft,  .page-civicrm-contact #mainTabContainer div.contactCardRight{
	/** width: 100%; **/
}
.page-civicrm-contact #mainTabContainer div.crm-summary-row{
	background-color: transparent;
    border-bottom: 1px solid #ddd;
	border-top: 0;
    line-height: 35px;
    min-height: auto;
}
.page-civicrm-contact #mainTabContainer div.crm-summary-row div.crm-label{
    padding-right: 10px;
}
.page-civicrm-contact #mainTabContainer div.contact_panel{
	margin-bottom: 40px;
}
.page-civicrm-contact #mainTabContainer .customFieldGroup{
	margin-bottom: 20px;
}
.page-civicrm-contact #mainTabContainer .separator{
	border: 0 !Important;
}

.page-civicrm-contact #mainTabContainer .crm-inline-edit form{
	border: 3px solid green;
}

.page-civicrm-contact #mainTabContainer .crm-inline-edit .crm-inline-edit-form{
	background-color: white;
	overflow: hidden;
}
.page-civicrm-contact #mainTabContainer div.crm-summary-row {
    line-height: 28px;
    background-color: rgba(0, 69, 123, 0.22);
}


.pure-menu-link.active {
    background-color: orange;
	color: white;

}

.crm-container a.button{
    background: orange !important;
	border: none !important;
	height: 18px;
	font-size: 14px !important;
	font-weight: bold !important;
    margin: 0;
    padding: 0 2px;
    outline: 0;
	text-shadow: none !important;
}


div.view .attachment-before{
	margin-bottom: 20px;
}

.view table td, .view table th{
	vertical-align: top !important;
        border-bottom-style: inset;

}


/** NA CONVENTION REGISTRATION ://neworg.kbb1.com/en/civicrm/event/register?cid=0&reset=1&id=117 **/
/* ?????????????????????????????????????????   */
#noOfparticipants .description{
	display: none;
}

 #editrow-custom_460 input{
	width: 150px;
}
#editrow-custom_441 input[type='radio'] + label{
	line-height: 23px;
    padding-top: 9px;
}

fieldset.crm-profile .label label{
	display: inline !important;
	float: none !important;
}


.bi48 #block-system-user-menu .block-icon {
    display: none;
}
.bi48 #block-system-user-menu .menu {
     display: unset;
}
.lg-he .themed-block .title.block-title{
	text-align: right;
	padding: 6px 10px 6px 28px;
}


/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#block-menu-menu-crm
 display:none,
}

#wf-crm-billing-items {
   display:none;
}

/* ====================================================================================================================================================== */

p#site-name a, p#site-name a:hover {
    font-size: 1.4em;
}


body.i18n-he #user-login-form li{
	margin-right: 0
}

#body_bg{
	background: white;
}
.himg #headimg, #headimg{
	background-color: transparent
}

#top_bg .region-header{
	background: #f9f9f9;
	padding: 11px 0;
}

#header  .pure-form input, #header .pure-form select{
	width: 100%;
}

.pure-menu-link {
    background: #4d4f53;
}

.not-logged-in #submenu{
	display: none
}


#user-login-form a{
	color: rgb(20, 110, 180);
    /* font-weight: bold; */
    text-decoration: underline;
    font-size: 14px;
}
}
#footer{
	padding-top: 60px;
}
#block-menu-menu-registration-link{
	margin-top: 30px !important;
}
#block-menu-menu-registration-link .menu{
	margin: 12px 0 0 0;
	padding: 0;
}
#block-menu-menu-registration-link .menu li{
	list-style-type: none;
	list-style-image: none;
	margin: 0;
	padding:0;
}
.node-type-homepage .block_1 .menu li a:hover{
	text-decoration: none;

}


#block-menu-menu-registration-link .menu li a{
    text-align: center;
    width: 100%;
    display: block;
    background: #0ba03e;
    border: 2px solid #0ba03e;
    padding: 0.8rem 0;
    border-radius: 5px;
    /* color: #0ba03e; */
    font-weight: 600;
    font-size: 1.2em;
    text-decoration: none;
    color: white;
}
#block-menu-menu-registration-link .menu li a:hover{
	text-decoration: none;

}

.page-civicrm-event-register .ui-icon.ui-icon-print{
	display: none
}
.page-civicrm-event-register #middlecontainer #main .title{
	display: inline;
}
#header .form-item label, #header .item-list .title {
    color: #777;
}
.crm-container .crm-section .label{
	text-align: left;
}
.i18n-he .crm-container .crm-section .label{
	text-align: right;
}
#crm-container .label {
    padding-left: 20px;
    color: #00457b;
    font-weight: bolder;
}

.lg-he .crm-container .crm-section .label{
	float: right;
}


.not-logged-in .breadcrumb{ 
	display: none;
}

.page-user-register .tabs, .page-user-register .description{
	display: none;
}

.not-admin ul.links.inline{
	
}
/***********************/
/* CHANGEs for MOBILES */
/***********************/

@media screen and (max-width: 48em) {

/* HEADER IMAGE */
/* Comment or erase the lines below and images rotator will work on mobiles too.
/	 You can also change the image with "mobi-sq" or use your own. */
/*	.himg #headimg, #headimg {
/		background: #fff url(../images/all/mobi-dot.png) repeat;*/
.himg #headimg, #headimg {
 background: #008bdb;

	}
}

#breadcrumb{
	margin: 10px 0
}

.pure-menu-link{
	font-size: 16px;
}

body.lg-he #top-elements {
    text-align: right;
	display: flex;
}
#topreg{
	padding: 10px 0;
}

#topreg .region-topreg{
	display: inline-grid;
}

#block-menu-menu-email ul{
	margin: 0 30px 0 0;
    padding: 0 !important;
}
#block-menu-menu-email li{
	list-style-type: none;
	list-style-image: url(../images/all/icons/email.png);
	width: 100px;
	margin-top: 0;
	padding-top: 0;
}
#block-menu-menu-email li a{
	position: relative;
	top: -4px;
}

#user_links{
    padding: 10px 0;
    display: inline;
    position: absolute;
    left: 40px;
	
}
#block-locale-language{
	margin: 0 1em !important;
}
.language-switcher-locale-url {
    padding: 10px 0;
    display: inline;

}

.views-table th, .views-table td  {

}


.crm-container .even-row, .crm-container .even, tbody.scrollContent tr.alternateRow {
    background-color: rgba(0, 69, 123, 0.22);
}
.collapsible-title {
      display: none;
}
}
#crm-event-register-different{
    display:none;
}
.crm-container .help, .crm-container #help {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #3E3E3E;
    
}


/**תקנון**/

fieldset.crm-profile .label label .editrow_custom_539-section{
    display: inline !important;
    float: left;
    padding-left: 249px;
}

/*****Donation Pages ****/
/*.page-civicrm-contribute-transact .crm-contribution-main-form-block */

.page-civicrm-contribute-transact .crm-contribution-main-form-block
{
	font-family: 'Assistant', sans-serif;
	max-width: 640px;
	margin: 0 auto;
	background-color: #ffffff;
}

.page-civicrm-contribute-transact #priceset
{
	margin-bottom: 30px !important;
}

.page-civicrm-contribute-transact #priceset .contribution_amount-content
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
    -webkit-box-orient: horizontal;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;

}

.page-civicrm-contribute-transact  .crm-contribution-main-form-block .email-5-section, .page-civicrm-contribute-transact  .crm-contribution-main-form-block .custom_post_profile-group, .page-civicrm-contribute-transact .crm-contribution-main-form-block .other_amount-section
{
	padding-right: 4rem;
    padding-left: 4rem;
}

.page-civicrm-contribute-transact #priceset .price-set-row
{
    display: flex;
    align-items: center;
}

.page-civicrm-contribute-transact #priceset .contribution_amount-section .label
{
	color: #ffffff;
	text-align: center !important;
	margin-bottom: 20px;
}

.page-civicrm-contribute-transact #priceset .contribution_amount-section .label label
{
	color: #ffffff;
	text-align: center;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
}
 .page-civicrm-contribute-transact #priceset #pricesetTotal .label label {
	display: none;
	}

.page-civicrm-contribute-transact #priceset  input[type='radio'] + label
{
  text-align: center;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.page-civicrm-contribute-transact #priceset  input[type='radio']
{
  display: none;
}

/* -------------------
	Default State
-------------------- */

.page-civicrm-contribute-transact #priceset  input[type='radio'] + label
{
    width: 120px;
    height: 55px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1.5em;
	align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
	transition: all 200ms ease;
    font-family: Assistant, sans-serif;
	color: #969696;
	font-weight: 400;
	padding: 9px 15px;
}

.page-civicrm-contribute-transact #priceset  input[type='radio'] + label:after{
  z-index: -1;
  content: '';
  cursor: pointer;
  top: 0;
  margin-left: 50%;
  left: -57px;
  width: 110px;
  height: 33px;
  display: block;
  position: absolute;
  border-radius: 8px;
}

.page-civicrm-contribute-transact #priceset  input[type='radio']+ label .crm-price-amount-amount
{
    color: #969696;
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 160px;
    height: 80px;
    margin-top: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.4em;
	padding: 0;
	
}
/* -------------------
	Hover States
-------------------- */

.page-civicrm-contribute-transact #priceset  input[type='radio']+ label:hover
{
    background-color: #00457b;

    color: #fff !important;
}

.page-civicrm-contribute-transact #priceset  input[type='radio']+ label:hover .crm-price-amount-amount
{
	color: #fff !important;
}


.page-civicrm-contribute-transact #priceset  input[type='radio'] + label:hover:after
{
    background-color: #00457b;

    color: #fff;
}

/* -------------------
	Active States
-------------------- */

.page-civicrm-contribute-transact #priceset  input[type='radio']:checked + label
{
    background-color: #f8b20d;  
    color: #fff !important;	
	font-weight: normal;	
}

.page-civicrm-contribute-transact #priceset  input[type='radio']:checked + label .crm-price-amount-amount
{

    color: #fff !important;	
	font-weight: normal;
}


.page-civicrm-contribute-transact #priceset  input[type='radio']:checked + label:after
{
    background-color: #f8b20d;    
    color: #fff;

}

/* -------------------
	Radio Specific Style
-------------------- */

.page-civicrm-contribute-transact #priceset  input[type='radio'] + label
{
    width: 120px;
    height: 60px;
	display: flex;
    margin-right: 7px;
    margin-left: 7px;
    font-size: 1.5em;
	line-height: 20px;
	margin-top: 0;
}
.page-civicrm-contribute-transact #intro_text{
      color: black;
	  }
fieldset.crm-profile-id-114 legend, fieldset.crm-profile-id-114 .messages{
	display: none !important;
}
fieldset.crm-profile-id-178 legend, fieldset.crm-profile-id-178 .messages{
	display: none !important;
}

.page-civicrm-contribute-transact .email-5-section .label
{
	display: block;
	float: none !important;
}
.page-civicrm-contribute-transact fieldset.crm-profile .label label{
     	color: black !important;
}

.page-civicrm-contribute-transact input[type=text]
{
	display: block;
    width: 52%;
    height: 38px;
    padding: 8px 12px !important;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    height: 1rem;
    margin-bottom: 25px;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .25);
    font-family: Assistant, sans-serif;
    color: #b3b3b3;
    font-size: 20px;
    font-weight: 600;
}

.page-civicrm-contribute-transact .content
{
	display: flex;
    margin-left: 0 !important;
}

.page-civicrm-contribute-transact #crm-submit-buttons .crm-button_qf_Main_upload{
	margin: 30px auto;
}

.page-civicrm-contribute-transact .other_amount-section .label{
	display: none
}

.page-civicrm-contribute-transact #crm-submit-buttons .crm-form-submit{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 9px 15px !important;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    font-family: Assistant, sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    height: 35px;
    background-color: #00457b;
    direction: rtl;
    color: #fff;
}

.page-civicrm-contribute-transact #crm-submit-buttons .crm-form-submit:hover{
    background-color: #69bdff;
}

#crm-submit-buttons{
	background: white !important;
	position: relative;
}

.page-civicrm-contribute-transact #crm-submit-buttons:before{
    position: absolute;
    left: 0px;
    top: 0;
    right: 0px;
    bottom: 0px;
    display: block;
    width: 0px;
    height: 0px;
    margin-right: auto;
    margin-left: auto;
    border-top: 20px solid #f4f4f4;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    color: #f4f4f4;
    content: ' ';
    z-index: 999;
	
}
/* Hide UTM fields in the registration page 'ערב פתוח 2018' */
.crm-profile-id-207 {
	display: none;
}

/* Hide UTM fields in the confirmation page 'ערב פתוח 2018' */
#pid-civicrm-event-register .crm-public-form-item.crm-section.Campaign.Content-section  {
	display: none;
}
#pid-civicrm-event-register .crm-public-form-item.crm-section.Campaign.Medium-section  {
	display: none;
}
#pid-civicrm-event-register .crm-public-form-item.crm-section.Campaign.Source-section  {
	display: none;
}
#pid-civicrm-event-register .crm-public-form-item.crm-section.Campaign.Term-section  {
	display: none;
}
#pid-civicrm-event-register .crm-public-form-item.crm-section.landing.page-section  {
	display: none;
}

/* שינוי רקע לטקסט הודעה בסיוי*/
.crm-container .status{
background-color: #ffffff;
    background-image: none;
    border: 1px solid #ffffff;
	}

